<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>More Details About {{data.Name}}</h1> <a href="{% url 'index1' %}">back</a>
    <hr>
    <h1>Student name:{{data.Name}}</h1>
    <h1>Roll no:{{data.Roll_no}}</h1>
    <h1>Phone_no:{{data.Phone_no}}</h1>
    <h1>Standard:{{data.Standard}}</h1>
    <h1>Tamil:{{data.Tamil}}</h1>
    <h1>English:{{data.English}}</h1>
    <h1>Maths:{{data.Maths}}</h1>
    <h1>Science:{{data.Science}}</h1>
    <h1>Physics:{{data.Physics}}</h1>
    <h1>Chemistry:{{data.Chemistry}}</h1>
</body>
</html>